.navbar{
    color: rgb(169, 142, 35) !important;
    font-family: 'Aladin'! important;
    font-size: x-large;
}

.navbar-brand
{
    color: #f58b09;
    font-family: 'Aladin'! important;
    font-size: 64px !important;
    text-shadow: 3px 3px #b65213;
}